.logo-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px 30px;
}

.section-payment-success {
    padding: 0px 30px 40px 30px;
    height: 100vh;
    .container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .payment-heading {
        color: $gold;
        font-size: 32px;
        text-transform: uppercase;
        font-family: $phil;
        text-align: center;
        margin-bottom: 60px;
        @include big_phone {
            font-size: 25px;
        }
    }
    .payment-thx {
        font-family: $corm;
        font-size: 28px;
        color: #000000a6;
        margin-bottom: 30px;
        text-align: center;
        max-width: 450px;
        @include big_phone {
            font-size: 20px;
        }
    }
    .redirect {
        font-family: $corm;
        font-size: 28px;
        color: #000000a6;
        text-align: center;
        @include big_phone {
            font-size: 20px;
        }
    }
}
