.section-main {
    width: 100%;
    height: 100vh;
    background-image: url("../img/header/bg.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    padding: 0;
    overflow: hidden;
    @include big_tablet {
        height: 100vh;
        background-image: unset;
        background-color: rgb(216, 216, 216);
    }
    .video {
        background-color: rgb(216, 216, 216);

        position: absolute;
        top: 0;
        left: 0;
        min-width: 100vw;
        min-height: 100vh;
        z-index: 0;
        // width: 100vw;
        // height: 100vh;
        // height: 100%;
        @include big_tablet {
            min-height: 70vh;
            height: 70vh;
        }
    }
    &::before {
        content: "";
        min-width: 100vw;
        min-height: 100vh;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 1;
        background: rgba(0, 0, 0, 0.534);
        @include big_tablet {
            background: unset;
        }
    }
    .container {
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        z-index: 3;
        height: 50%;
        align-items: center;
        justify-content: space-between;
        padding: 0 30px 40px 30px;
        @include big_tablet {
            bottom: 100px;
            padding: 0 30px 10px 30px;
        }
    }
    .full-video {
        // padding: 10px 20px;
        background: rgba(141, 141, 141, 0.52);
        color: #fff;
        font-family: $phil;
        font-size: 24px;
        width: 204px;
        min-height: 50px;
        &:hover {
            background: transparent;
            border: thick double #fff;
        }
    }

    .next-section {
        margin: 25px 0;
        width: 50px;
        height: 50px;
        position: relative;
        animation: arrow 0.5s ease 0s infinite alternate;
        cursor: pointer;
        @include big_tablet {
            // margin: 25px 0 10px 0;
            display: none;
        }
        &::before,
        &::after {
            content: "";
            position: absolute;
            top: 0;
            width: 2px;
            height: 100%;
            background: #fff;
            @include big_tablet {
                background: #000;
            }
        }
        &::before {
            left: 6.5px;
            transform: rotate(-45deg);
            @include big_tablet {
                left: 7px;
            }
        }
        &::after {
            right: 6.5px;
            transform: rotate(45deg);
            @include big_tablet {
                right: 7px;
            }
        }
    }
}
.section-currenTime {
    .container {
        max-width: 900px;
        align-items: center;
    }
    .container-header {
        &__title {
            font-size: 24px;
            font-family: $phil;
            color: #343434;
        }
        .header-title {
        }
    }
    .container-body {
        margin-top: 50px;
        width: 100%;
        .date {
            display: flex;
            align-items: center;
            justify-content: space-between;
            @include big_tablet {
                flex-direction: column;
                align-items: center;
                justify-content: center;
            }
            &__mounth-wrapper {
            }
            span {
                height: 2px;
                flex: 1;
                background: $gold;
                margin: 0 40px;
                @include big_tablet {
                    margin: 20px 0;
                    flex: unset;
                    height: 50px;
                    width: 2px;
                }
            }
            .date-item {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                font-family: $phil;
            }
            &__mounth {
                font-size: 32px;
            }

            &__year {
                font-size: 24px;
                color: #838383;
            }

            &__hour-wrapper {
            }

            &__hour {
                font-size: 32px;
            }

            &__hour-type {
                font-size: 24px;
                color: #838383;
            }

            &__weather-wrapper {
            }

            &__weather {
                font-size: 32px;
            }

            &__weather-desc {
                font-size: 24px;
                color: #838383;
            }
        }
    }
}
.section-hotels {
    padding: 40px 0 0 0;
    display: flex;
    @include big_tablet {
        flex-direction: column;
    }
    .hotel {
        flex: 0 1 50%;
        position: relative;
        padding-bottom: 35%;
        overflow: hidden;
        min-height: 310px;
        @include big_tablet {
            padding-bottom: 55%;
        }
        &__bg {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;

            height: 100%;
            img {
                width: 100%;
                height: 100%;
                transform: scale(1.1);
                transition: transform 0.3s linear 0s;
                object-fit: cover;
            }
        }

        &__main {
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
            padding: 100px 40px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-between;
            @include laptop {
                padding: 40px;
            }
        }

        &__title-wrapper {
            text-align: center;
            margin-bottom: 15px;
        }

        &__title {
            font-size: 48px;
            font-family: $phil;
            color: #fff;
            @include med_screen {
                font-size: calc(20px + 28 * (100vw / 1600));
            }
            @include big_phone {
                font-size: calc(30px + 18 * (100vw / 1600));
            }
        }

        &__street {
            font-size: 24px;
            color: #fff;
            font-family: $phil;
            margin-top: 20px;
        }

        &__details {
            font-size: 24px;
            color: #fff;
            font-family: $phil;
            border: thick double #fff;
            padding: 10px 20px;
            &:hover {
                border: thick double $gold;
                color: $gold;
            }
        }
    }
    .hotel:hover .hotel__bg img {
        transform: scale(1.2);
    }
}
.section-sightseeing {
    padding: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    min-height: 665px;
    max-height: 900px;
    @include big_tablet {
        flex-direction: column-reverse;
        height: auto;
        min-height: unset;
    }
    .swiper-container {
        width: 50%;
        height: 100%;
        @include big_tablet {
            width: 100%;
        }
        .swiper-wrapper {
            .swiper-slide {
                width: 100%;
                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }
        }
        .swiper-pagination {
            bottom: 40px;
            .swiper-pagination-bullet {
                width: 12px;
                height: 12px;
                opacity: 1;
                background: #c4c4c4;
                &-active {
                    background: #fff;
                }
            }
        }
    }

    .sightseeing {
        width: 50%;
        height: 100%;
        // background: #000;
        padding: 50px 30px;
        display: flex;
        justify-content: flex-start;
        @include laptop {
            padding: 20px 30px;
        }
        @include big_tablet {
            width: 100%;
            justify-content: center;
        }
        &__wrapper {
            max-width: 600px;
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: flex-end;
            justify-content: space-between;
            @include big_tablet {
                width: unset;
            }
        }
        &__heading {
            font-size: 48px;
            font-family: $corm;
            text-transform: uppercase;
            text-align: right;
            max-width: 318.97px;
            @include laptop {
                font-size: 38px;
            }
        }

        &__desc {
            margin-top: 15px;
            text-align: right;
            font-size: 22px;
            font-family: $corm;
            max-width: 457px;
            @include laptop {
                margin-top: 40px;
            }
        }

        &__quest {
            margin-bottom: 10px;
        }

        &__info {
            margin-bottom: 20px;
        }

        &__links {
            // margin-top: 50px;
            margin-top: 15px;
            display: flex;
            flex-direction: column;
            max-width: 457px;
            width: 100%;
            @include laptop {
                margin-top: 30px;
            }
        }

        &__link {
            padding: 22px 30px;
            box-shadow: 2px 3px 8px rgba(0, 0, 0, 0.308);
            margin-bottom: 20px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            transition: transform 0.3s ease 0s;
            @include laptop {
                padding: 15px 25px;
            }
            &:hover {
                transform: scale(1.05);
            }
        }

        &__link:hover .sightseeing__link-title {
            color: $gold;
        }

        &__link-title {
            font-size: 24px;
            color: #3a3a3a;
            font-family: $phil;
            text-transform: uppercase;
            @include laptop {
                font-size: 20px;
            }
            @include big_phone {
                font-size: 15px;
            }
        }

        &__link-arrow {
            flex: 0 1 20%;
            height: 2px;
            background: $gold;
            position: relative;
            &::before {
                content: "";
                position: absolute;
                width: 15px;
                height: 2px;
                right: 0;
                top: 0;
                background: $gold;
                transform: rotate(40deg) translateY(-6px);
            }
            &::after {
                content: "";
                position: absolute;
                width: 15px;
                height: 2px;
                right: 0;
                top: 0;
                background: $gold;
                transform: rotate(-40deg) translateY(6px);
            }
        }
    }
}
.section-room {
    padding: 40px 0;
    background: #635f5b;
    overflow: hidden;
    &__header {
        padding: 0 30px;
        .container {
            padding: 20px 0;
            &__heading {
                color: #fff;
                font-family: $corm;
                font-size: 48px;
                max-width: 409.43px;
                line-height: 67px;
                @include big_phone {
                    font-size: 40px;
                }
            }
        }
    }
    .swipers {
        .room-images {
            overflow: unset;
            display: flex;
            margin-top: 50px;
            .swiper-wrapper {
            }
            .swiper-slide {
                display: flex;
                align-items: center;
                justify-content: center;
                // margin: 0 20px;
                img {
                    width: 100%;
                    height: 100%;
                }
                // &-active {
                //     transform: scale(1.1);
                // }
            }
            .swiper-button-next,
            .swiper-button-prev {
                transform: translateY(-40%);
                height: 170px;
                width: 85px;
                background: #b98b4bbf;
                @include big_tablet {
                    height: 120px;
                    width: 60px;
                }
                &::after {
                    color: #fff;
                }
                &:hover {
                    background: #b98b4bec;
                }
            }
            .swiper-button-prev {
                left: 0;
                border-radius: 0 100% 100% 0 / 0 50% 50% 0;
                &::after {
                    position: relative;
                    left: -10px;
                }
            }
            .swiper-button-next {
                right: 0;
                border-radius: 100% 0 0 100% / 50% 0 0 50%;
                &::after {
                    position: relative;
                    left: 10px;
                }
            }
        }

        .room-info {
            .swiper-wrapper {
            }
            .swiper-slide {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                margin-top: 90px;
                padding: 0 30px;
                padding-bottom: 20px;

                &__header {
                    display: flex;
                    align-items: center;
                    margin-bottom: 20px;
                    &::before {
                        content: "";
                        width: 100px;
                        height: 2px;
                        background: $gold;
                        margin-right: 30px;
                        @include big_phone {
                            width: 50px;
                        }
                    }
                    &::after {
                        content: "";
                        width: 100px;
                        height: 2px;
                        background: $gold;
                        margin-left: 30px;
                        @include big_phone {
                            width: 50px;
                        }
                    }
                }

                &__heading {
                    color: $gold;
                    font-family: $phil;
                    font-size: 36px;
                    text-align: center;
                    @include big_phone {
                        font-size: 25px;
                    }
                }

                &__info {
                    color: #fff;
                    font-family: $corm;
                    font-size: 24px;
                    max-width: 540px;
                    text-align: center;
                    line-height: 29px;
                }
            }
        }
    }
}
.section-reviews {
    overflow: hidden;

    .reviews-header {
        &__heading {
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            font-family: $corm;
            font-size: 48px;
            color: #212121;
            text-transform: uppercase;
        }
    }
    .swiper-container {
        margin-top: 40px;
        overflow: unset;
        display: flex;
        .swiper-wrapper {
        }
        .swiper-slide {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            .slider-body {
                display: flex;
                align-items: flex-start;
                box-shadow: 0px 2px 10px 1px rgba(0, 0, 0, 0.26);
                padding: 20px;
                &__photo {
                    min-width: 90px;
                    height: 90px;
                    border-radius: 100%;
                    overflow: hidden;
                    margin-right: 20px;
                    img {
                        width: 100%;
                        height: 100%;
                    }
                }

                &__info {
                }

                &__heading {
                    font-size: 24px;
                    font-family: $corm;
                    color: #000;
                }

                &__desc {
                    color: #6a6a6a;
                    font-family: $corm;
                    font-size: 20px;
                    margin-top: 10px;
                }
            }
            .slider-stars {
                margin-top: 10px;
            }
        }
    }
}

.section-hosptality {
    display: flex;
    padding: 40px 0;
    justify-content: space-between;
    padding-left: 30px;
    overflow: hidden;
    @include big_tablet {
        flex-direction: column;
        padding: 40px 30px;
    }
    .info {
        flex: 0 1 50%;
        display: flex;
        justify-content: flex-end;
        margin-bottom: 50px;
        @include laptop {
            flex: 0 1 45%;
        }
    }
    .container {
        max-width: 700px;
        margin: unset;
    }
    .item {
        margin-bottom: 100px;
        &:last-child {
            margin-bottom: 0;
        }
        &__heading {
            color: $gold;
            font-size: 48px;
            font-family: $corm;
            line-height: 66px;
            text-transform: uppercase;
            max-width: 330px;
            @include big_phone {
                font-size: 40px;
            }
        }

        &__desc {
            font-size: 22px;
            padding: 0 30px 0 50px;
            color: #2e2e2e;
            font-family: $corm;
            line-height: 26px;
            max-width: 543px;
            @include big_phone {
                padding: 0 10px 0 20px;
            }
        }

        &__list {
            margin-top: 40px;
            padding-left: 50px;
            @include big_phone {
                padding-left: 10px;
            }
        }

        &__li {
            font-size: 24px;
            font-family: $phil;
            color: #2e2e2e;
            margin-bottom: 25px;
            @include big_phone {
                font-size: 2f0px;
            }
            &::before {
                content: "";
                width: 15px;
                height: 20px;
                background-image: url("../img/main/services/rect.svg");
                background-size: contain;
                background-position: center;
                background-repeat: no-repeat;
                margin-right: 10px;
                display: inline-block;
            }
        }
    }
    .images {
        flex: 0 1 50%;
        // overflow: hidden;
        position: relative;

        @include laptop {
            flex: 0 1 55%;
        }
        @include big_tablet {
            padding-bottom: 100%;
            flex: 0 1 100%;
        }
        @include tablet {
            padding-bottom: 50%;
        }
        @include big_phone {
            padding-bottom: 330%;
        }
        @media (max-width: 480px) {
            padding-bottom: 380%;
        }
        @include phone {
            padding-bottom: 420%;
        }
        @media (max-width: 380px) {
            padding-bottom: 520%;
        }

        &__wrapper {
            position: absolute;
            width: 100%;
            height: 100%;
            display: flex;
            flex-direction: column;
            @include big_tablet {
                align-items: center;
            }
        }
        &__row {
            display: flex;
            justify-content: flex-end;
            @include big_phone {
                flex-direction: column;
                align-items: center;
                justify-content: center;
            }
            &:nth-child(2) {
                position: relative;
                left: 100px;
                @include big_tablet {
                    left: 0%;
                }
            }
        }

        &__img {
            // width: 100%;
            height: 300px;
            margin: 10px;
            filter: grayscale(1);
            transition: filter 0.3s ease 0s;
            @include med_screen {
                height: 220px;
            }
            @include big_tablet {
                width: 100%;
                object-fit: contain;
                filter: grayscale(0);
            }
            &:hover {
                filter: grayscale(0);
            }
        }
    }
}

.section-locations {
    display: flex;
    justify-content: space-between;
    background-image: url("../img/main/location/bg.png");
    background-size: cover;
    background-position: left;
    padding: 0;
    display: none;
    .info {
        padding: 120px 0 120px 30px;
        flex: 0 1 40%;
        display: flex;
        justify-content: flex-end;
        .container {
            margin: unset;
            max-width: 500px;
        }

        .heading {
            font-family: $corm;
            font-size: 48px;
            letter-spacing: 200%;
            max-width: 491px;
            text-transform: uppercase;
        }
        .addresses-wrapper {
            margin-top: 100px;
        }
        .address-item {
            margin-bottom: 30px;
            color: #4f4f4f;
            &__heading {
                font-size: 36px;
                font-family: $phil;
                margin-bottom: 20px;
                text-transform: uppercase;
            }

            &__number {
                font-size: 24px;
                font-family: $phil;
                color: #4f4f4f;
                &:hover {
                    color: $gold;
                }
            }

            &__street {
                font-size: 24px;
                font-family: $phil;
                margin-top: 10px;
            }
        }
    }

    .map {
        flex: 0 1 60%;
        position: relative;
    }
    .dot {
        width: 30px;
        height: 30px;
        background: $gold;
        position: absolute;
        border-radius: 100%;
    }
    .location {
        &__img {
        }

        &__title {
        }

        &__title-text {
        }
    }
}
